/* Header */

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 500px;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.heading {
  color: MediumAquamarine;
  font-size: 14px;
  margin-left: 20px;
}

.nav {
  display: inline-flex;
  font-weight: bold;
  text-align: right;
  padding-right: 40px;
}

a {
  color: black;
  text-decoration: underline;
  display: inline-block;
  text-align: justify;
  padding: 20px 10px;
}


/* Body */

.body {
  display: flex;
  border: 1px black solid;
}

.column {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.title.bold {
  font-weight: bold;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.title.unbold {
  border: 1px black solid;
}

.content.regular {
  margin-top: 16;
  margin-bottom: 16;
}
