/* Header */

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 500px;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.heading {
  color: MediumAquamarine;
  font-size: 14px;
  margin-left: 20px;
}

.nav {
  display: inline-flex;
  font-weight: bold;
  text-align: right;
  padding-right: 40px;
}

a {
  color: black;
  text-decoration: underline;
  display: inline-block;
  text-align: justify;
  padding: 20px 10px;
}


/* Body */

.body {
  display: flex;
  padding-top: 37px;
  margin-bottom: 78px;
  margin-left: auto;
  margin-right: auto;
  width: 1232px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.title.bold {
  font-weight: bold;
}

.column.large {
  width: 630px;
  justify-content: space-between;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.content.regular {
  margin-top: 16px;
  margin-bottom: 16px;
}

.unbold {
  height: auto;
  width: auto;
  display: block;
}

.title.unbold {
  font-family: Georgia;
  font-weight: bold;
  color: white;
}

.big .background {
  display: flex;
}

.background {
  display: flex;
  height: 300px;
  width: 300px;
}

#mother {
  background-image: url("../Photos/img-story-main.png");
  font-size: 40px;
  width: 630px;
  height: 300px;
}

.earth {
  background-image: url("../Photos/img-story-2.png");
  font-size: 30px;
  margin-top: 15px;
  display: block;
}

.camera {
  background-image: url("../Photos/img-story-3.png");
  font-size: 30px;
  margin-top: 15px;
  display: block;
}

.cats {
  background-image: url("../Photos/img-story-1.png");
  font-size: 30px;
  text-align: center;
}

.content {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.double {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

fifty {
  height: 250px;
  width: 300px;
  display: block;
}

.margin {
  margin-left: 15px;
}

.side {
  border-bottom: 1px black solid;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  flex-direction: column;
  display: block;
  padding: 11px 20px;
}

.bite {
  font-size: 16px;
  font-weight: bold;
}
